#map {
    height: 500px;
    width: 100%;
}.
.
.
.
.
/
.
./
nail/////
main
///..//////////////////////////////////////////////////////
//////////////////////////////////////////
////////////////////////
///////////////////////////////////////////////////////
//////////////////////////////////
/////////////////////////////
/////////////////////////////////
////@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
////////////////////////////
