#map {
    height: 500px;
    width: 100%;
}.
.
.
.
.
/
.
./
nail/////
main
///..//////////////////////////////////////////////////////
//////////////////////////////////////////
////////////////////////
///////////////////////////////////////////////////////
//////////////////////////////////
/////////////////////////////
/////////////////////////////////
////@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main
main
@keyframes slide {
  100% {
    left: 100%;
  }
}...../.
./
nail
///../////
main..............
..........................
............................
..............................
.............................
.................................
..........................
.............................
..........................
................................................
................
.................................
.............................
...............................
..........................................
..........................................
................................
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}
v text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  curs  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;  list-style: none;
  font-weight: 600;
  cursor: pointer; text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  transition: 0.5s;
  letter-spacing: 2px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;vvor: pointer;
